<div id="modal_boton" class="modal fade" [ngStyle]="{'visibility': abrir ? 'visible':'hidden'}">
    <div class="contenedor">
        <header>LISTA SELECCIONADOS</header>
        <label id="cerrar" (click)="cerrar()">X</label>
        <div class="contenido">
            <table class="tabla2" id="personas2" border="2">
                <tr>
                    <th>ID</th>
                    <th>NOMBRE(S)</th>
                    <th>APELLIDOS</th>
                    <th>EDAD</th>
                    <th>CORREO</th>
                </tr>
                <tr *ngFor="let persona of arreglo_lista">
                    <th class="letra">{{persona.id}}</th>
                    <th class="letra">{{persona.nombre}}</th>
                    <th class="letra">{{persona.apellido}}</th>
                    <th class="letra">{{persona.edad}}</th>
                    <th class="letra">{{persona.correo}}</th>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id="modal_boton3" class="modal3" [ngStyle]="{'visibility': abrir ? 'visible':'hidden'}" (click)="cerrar()">
    <div class="contenedor3">
    </div>
</div>
